{% extends 'apple/base.html' %}

{% block content %}
    <h1 class="brand-name">Karel' Apples</h1>
    <br>
    <h2>Welcome to our site!</h2>
    <p>On this site you can find everything you need to know about apples! We have a large database of apples and their
        properties, as a registered user you can even help to expand the database! In the database you can also find
        extra information about apples, this way you can find out if the apple you bought is more suitable for apple pie
        or apple sauce!</p>
    <p>Furthermore we offer different recipes which include apples. If you have an amazing apple recipe, don't hesitate
        and login to share it with the community!</p>
    <br>
{% endblock %}

